label {
  font-size: 14px !important;
}

.ui.compact.table td { 
  border-top: 0px; 
  padding: 0.2em 0.7em;
}

.layout-option-buttons td {
  border-top: 1px solid rgba(34,36,38,.1) !important;
  padding: 0.6em 0.7em !important;
}
